@model IEnumerable<jobs_offer.Models.JobsViewModel>

@{
    ViewBag.Title = "GetJobsByPublisher";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>GetJobsByPublisher</h2>

@foreach (var gr in Model)
{
    <h3>@gr.JobTitle</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                اسم الباحث
            </th>
            <th>
                نص الرساله
            </th>
            <th>
                تاريخ الارسال
            </th>
        </tr>
        @foreach(var item in gr.Items)
        {
            <tr>
                <td>
                    @item.users.UserName
                </td>
                <td>
                    @item.message
                </td>
                <td>
                    @item.ApplyDate
                </td>
            </tr>
        }
    </table>
}